.container {
    width: 90%;
}

h5 {
    padding-right: 15px;
    text-align: right;
}

body {
    background: url("../images/grey.png");
}

.container {
    background-color: white;
}

h2 {
    padding-left: 20px;
}

p {
    text-align: left;
}

#header {
    background-color: teal;
    color: white;
}

center {
    width: 70%;
    height: 70%;
}

img {
    max-width: 100%;
    max-height: 70%;
}

.buttons {
    padding-left: 45px;
}

.annoying-button {
    height: 36px !important;
}

.collapsible {
    margin-top: 30px;
}

.collapsible-body {
    padding: 0;
}

.card-title {
    text-align: center;
    display: block;
    margin-top: -42px;
}

.chip {
    font-size: 11px;
}

.mainPanel {
    padding: 0px;
}

.buttons {
    padding: 0;
    margin-top: -5px;
}

.buttons a {
    float: left;
    display: block;
    width: 50%;
}